<h1>Type a sentence and then choose a word to see how many times it appears in your sentence.</h1>

<form  action="/result" method="post">
  <input type="text" name="userSentence" placeholder="your sentence here">
  <input type="text" name="wordToFind" placeholder="the word you want counted">
  <button type="sumbit" name="button">Submit</button>
</form>
